extends ./templates/base.static
block content
    #container-edit.container-fluid.full-height
        .row.full-height
            // controls
            #container-controls-parent.col-sm-4.col-md-3(data-simplebar-direction='vertical')

                #container-controls

                    .controls-entry
                        .row
                            h3 Background color
                        .row
                            #color-base.input-group.color-input-group
                                input.form-control(type='text')
                                span.input-group-addon
                                    i

                    .controls-entry
                        .row
                            h3 Background shape
                        .row
                            from(role='form')#base-shape
                                .radio-inline
                                    input(type='radio', name='radio-base-shape', checked='checked')#base-shape-circle
                                    label(for='base-shape-circle')
                                        span
                                        span Circle
                                .radio-inline
                                    input(type='radio', name='radio-base-shape')#base-shape-square
                                    label(for='base-shape-square')
                                        span
                                        span Square

                    .controls-entry
                        .row
                            h3 Icon color
                        .row
                            #color-icon.input-group.color-input-group
                                input.form-control(type='text')
                                span.input-group-addon
                                    i

                    .controls-entry
                        .row
                            h3 Center icon
                        .row
                            input#checkbox-center-icon(checked, type='checkbox', data-toggle='toggle', data-width='100')

                    .controls-entry
                        .row
                            h3 Shadow length
                        .row
                            input#slider-shadow-length(type='text', data-slider-id='slider-shadow-length-id', data-slider-min='0.5', data-slider-max='60', data-slider-step='0.5', data-slider-value='30')

                    .controls-entry
                        .row
                            h3 Shadow intensity
                        .row
                            input#slider-shadow-intensity(type='text', data-slider-id='slider-shadow-intensity-id', data-slider-min='0', data-slider-max='1', data-slider-step='0.01', data-slider-value='0.7')

                    .controls-entry
                        .row
                            h3 Shadow fading
                        .row
                            input#slider-shadow-fading(type='text', data-slider-id='slider-shadow-fading-id', data-slider-min='0', data-slider-max='1', data-slider-step='0.01', data-slider-value='1')

                    .controls-entry
                        .row
                            h3 Icon size
                        .row
                            input#slider-icon-size(type='text', data-slider-id='slider-icon-size-id', data-slider-min='0.1', data-slider-max='7', data-slider-value='5', data-slider-step='0.1', data-slider-tooltip='bottom')

                    .controls-entry
                        .row
                            h3 Banner
                        .row
                            from(role='form')#banner
                                .radio-inline
                                    input(type='radio', name='radio-banner', checked='checked')#banner-none
                                    label(for='banner-none')
                                        span
                                        span None
                                .radio-inline
                                    input(type='radio', name='radio-banner')#banner-beta
                                    label(for='banner-beta')
                                        span
                                        span Beta
                                .radio-inline
                                    input(type='radio', name='radio-banner')#banner-dev
                                    label(for='banner-dev')
                                        span
                                        span Dev

                    #banner-collapsible-container
                        .controls-entry
                            .row
                                h3 Banner background color
                            .row
                                #color-banner-background.input-group.color-input-group
                                    input.form-control(type='text')
                                    span.input-group-addon
                                        i

                        .controls-entry
                            .row
                                h3 Banner text color
                            .row
                                #color-banner-text.input-group.color-input-group
                                    input.form-control(type='text')
                                    span.input-group-addon
                                        i

                    .controls-entry#download-container
                        button#btn-download-svg.btn.btn-lg.full-width(type='submit') Download


            // canvas
            #container-canvas-draw-parent.col-sm-8.col-md-9.full-height
                #container-canvas-draw.full-height.full-width
                    #container-canvas-draw-wrapper
                        canvas#canvas-draw

                #canvas-loading
                    span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate

                a(href='https://github.com/Maddoc42/Android-Material-Icon-Generator').about#about-github
                    strong
                        i.fa.fa-github
                    | &nbsp; Star

                a(href='http://bitdroid.de/me').about#about-homepage
                    strong Android Material Icon Generator
                    |  by Philipp. I'm for hire!

        // hidden canvas for exporting
        canvas#canvas-export-mdpi
        canvas#canvas-export-hdpi
        canvas#canvas-export-xhdpi
        canvas#canvas-export-xxhdpi
        canvas#canvas-export-xxxhdpi
        canvas#canvas-export-playstore-icon

        include ./templates/error.static.jade


    #container-input
        .navbar.navbar-default.shadow-depth-1
            .container
                .navbar-header
                    button(type='button', data-toggle='collapse', data-target='#collapsible-navbar').navbar-toggle
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-brand
                        a(href='/') Material Icon Generator
                .collapse.navbar-collapse#collapsible-navbar
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#section-license') License
                        li
                            a(target='_blank', href='https://github.com/Maddoc42/Android-Material-Icon-Generator') GitHub

        section.section-1
            .container
                .row
                    .col-xs-12
                        h1 Icons with that loooooong material shadow.
                    .col-xs-12
                        h2 Fast and simple material style SVG icons for your Android app and website!
                    .col-xs-12
                        .hero-card.shadow-depth-1
                            .hero.hero-top
                                img(src='/img/hero/icon-1.svg').img-center
                                img(src='/img/hero/icon-2.svg').img-left
                                img(src='/img/hero/icon-3.svg').img-right
                            .hero.hero-bottom
                                input(type='file').input-file-picker
                                .icon-input.icon-input-file
                                    .btn.btn-primary Drop SVG icon here
                                .icon-input-or or
                                .icon-input.icon-input-select
                                    .btn.btn-primary Select Material Icon
                            .hero.hero-msg
                                p
                                    | For a product icon, the top light from above casts a soft shadow surrounding an element lightly on the top and left.
                                    a(target='_blank', href='https://material.io/guidelines/style/icons.html#') &ndash; Material Design

        section.section-2
            .container
                .row
                    .col-xs-12.col-sm-4
                        .text-center
                            .feature-img
                                img(src='/img/feature_svg.svg')
                            h3 Everything as SVG
                            p The icon, the material shadow and all effects are created in SVG!
                    .col-xs-12.col-sm-4
                        .text-center
                            .feature-img
                                img(src='/img/feature_icons.svg')
                            h3 Many icons
                            p Use the standard Google Material icons or upload your own!
                    .col-xs-12.col-sm-4
                        .text-center
                            .feature-img
                                img(src='/img/feature_customizable.svg')
                            h3 Fully customizable
                            p You can change colors, the material shadow, apply beta / dev banners and much more!

        section.section-3#section-license
            .container
                .row
                    .col-xs-12
                        .text-center
                            h2 License
                    .col-xs-12.col-sm-6.col-md-5.col.col-md-offset-1
                        .card.shadow-depth-1
                            .text-center
                                h3 Personal
                                .price Free
                                    span.price-msg &nbsp;forever!
                                p
                                    | If you need icons for your
                                    strong  personal or non-profit project
                                    | , the material icons are completely free!
                                p
                                    | The generated icons are licensed under the&nbsp;
                                    a(href='https://creativecommons.org/licenses/by-nc/3.0/') Creative Commons Attribution-Non-Commercial 3.0 License.
                    .col-xs-12.col-sm-6.col-md-5
                        .card.shadow-depth-1
                            .text-center
                                h3 Commercial
                                .price $4.99
                                p
                                    | If you would like to use the icons in a
                                    strong  commercial project
                                    | , you
                                    | need to purchase a commercial license first.
                                p
                                    | One license is for one icon. Bulk discounts are available.
                                a.btn.btn-primary(target='_blank', href='https://goo.gl/forms/zX8GZ3Jz89SRyHdJ2') Request license

        section.section-4
            include ./templates/input-material-icons-data.static.jade
            include ./templates/input-material-icons-data-excludes.static.jade
            .attribution.text-center
                | Icons are copied from the&nbsp;
                a(href='https://design.google.com/icons/') Google Material icons collection
                | , which are available under the&nbsp;
                a(href='https://creativecommons.org/licenses/by/4.0/') CC-BY license
                | .

            .icons
                for category, index in icons
                    .col-xs-12
                        .category-title.text-center
                            p #{category.category}
                            p
                    .icon-picker-icons-column
                        for icon in category.fileNames
                            - var iconName = icon.replace('ic_', '');
                            - iconName = iconName.replace('_48px.svg', '');
                            - var iconTitle = iconName.replace(new RegExp('_', 'g'), ' ');
                            if (iconExcludes.indexOf(iconName) <= -1)
                                .container-icon-anchor(data-icon-category=category.category, data-icon-name=iconName)
                                    .container-icon-inner
                                        i.material-icons #{iconName}
                                        .icon-title #{iconTitle}

                    if (index != icons.length - 1)
                        hr.hr-icons

        section.section-footer
            .container
                .row
                    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
                        .card
                            .row
                                .col-xs-4
                                    h4 Developers
                                    p
                                        a(target='_blank', href='https://github.com/Maddoc42/Android-Material-Icon-Generator/') GitHub
                                    p
                                        a(target='_blank', href='https://github.com/Maddoc42/Android-Material-Icon-Generator#faq') FAQs

                                .col-xs-4
                                    h4 Legal
                                    p
                                        a(target='_blank', href='https://www.bitdroid.de/legal-notice.html#impressum') Imprint
                                    p
                                        a(target='_blank', href='https://www.bitdroid.de/legal-notice.html#datenschutz') Data protection
                                    p
                                        a(target='_blank', href='https://www.bitdroid.de/material-icons-tos.html') ToS
                                .col-xs-4
                                    h4 Company
                                    p
                                        a(href='mailto:material-icons@bitdroid.de') Contact
                    .col-xs-12
                        .made-by.text-center
                            | &copy; 2016 &ndash; #{new Date().getFullYear()} Philipp Eichhorn &ndash; made in Erlangen, Germany with
                            i.material-icons favorite_border


block script
    script.
        require('js/app').init()
